# Data files
data/*.json

# Python
__pycache__/
*.pyc
venv/

# Environment
.env
SENDGRID_API_KEY.txt
TWILIO_RECOVERY_CODE.txt
STRIPE_BACKUP_CODE.txt
STRIPE_KEYS.txt

# Node
node_modules/

# macOS
.DS_Store
RENDER_ENV_VARS.txt
